<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nakihome.zerochallenge.user.UserMapper">
<insert id="insUser" parameterType="UserVO" >

	INSERT INTO t_user
	(user_nm, user_pw, salt, user_email, target, birth)
	VALUES
	(#{user_nm}, #{user_pw}, #{salt}, #{user_email}, #{target}, #{birth});

</insert>

<select id="selSnsLogin" >
 




</select>



</mapper>