<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.nakihome.zerochallenge.user.model.UserVO" alias="UserVO"/>	
		<typeAlias type="com.nakihome.zerochallenge.user.model.SnsUserVO" alias="SnsUserVO"/>	
		<typeAlias type="com.nakihome.zerochallenge.user.model.UserDMI" alias="UserDMI"/>	
		<typeAlias type="com.nakihome.zerochallenge.user.model.UserPARAM" alias="UserPARAM"/>	
		
		
		
	</typeAliases>
</configuration>